* {
  box-sizing: border-box;
}

html {
  font: 62.5% / 1.15 sans-serif;
  background-color: #eee;
  color: #000;
}

body {
  font: 1.6rem / 1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: inherit;
  color: inherit;
  margin: 0;
}

h1,
h2 {
  width: 100%;
  text-align: center;
}