* {
  box-sizing: border-box;
}

html {
  font: 62.5% / 1.15 sans-serif;
  background-color: #eee;
  color: #222;
}

body {
  font: 1.6rem / 1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: inherit;
  color: inherit;
  margin: 0;
}

h1 {
  width: 100%;
  margin: 0;
}

ul {
  width: 90vw;
  margin: 0 auto;
  list-style: none;
}

button {
  border: none;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  cursor: pointer;
}

.App {
  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    transition: box-shadow background-color 0.1s;
    border-radius: 5px;
    padding: 0.7rem 1.3rem 0.4rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
}
